pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
#this -e . will automatically triger setup.py whenever we pip install requirements.txt. it will redirect it tp setup.py so that u dont have to install that setup.py alag se
-e .